html, body {
	position: relative;
	width: 100%;
	height: 100%;

	--light-grey: #d1d1d1;
	--grey: #6e6e6e;
	--dark-grey: #252525;
	--red: #d83114;
	--light-red: #e0563d;
	
	overflow: hidden;
}

@font-face {
	font-family: 'AlteHassGrotesk';
	src: url('/AlteHaasGroteskRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AlteHassGrotesk';
	src: url('/AlteHaasGroteskBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'AlteHassGrotesk', sans-serif;
	color: black;
	font-weight: 500;
}

h1 {
	font-size: 54px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-right: 10px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px
}

p {
	font-size: 12px
}

.hidden {
	max-height: 0;
	max-width: 0;
	opacity: 0;
	position: absolute;
}

@media (max-width: 1100px) {
	h1 {
		margin-bottom: 10px;
	}
}

@media (max-width: 500px) {
	h1 {
		margin-bottom: 10px;
	}

	h2 {
		font-size: 18px;
	}
	
	h3 {
		font-size: 16px
	}
}