html, body {
	position: relative;
	width: 100%;
	height: 100%;

	--light-grey: #f9f7eb;
	--olive: #1e1f1d;
	--light-olive: #2a2b28;
	--dark-olive: #141514;
	--dark-grey: #282726;
	--green: #abfa9b;
	--dark-green: #65ff46;
	--transparent-orange: hsla(10, 100%, 72%, 0.486);
	--orange: hsl(10, 100%, 72%);
	--dark-orange: hsl(14, 62%, 50%);
	overflow: hidden;
}

@font-face {
	font-family: 'AlteHassGrotesk';
	src: url('/AlteHaasGroteskRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AlteHassGrotesk';
	src: url('/AlteHaasGroteskBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'AlteHassGrotesk', sans-serif;
	color: black;
	font-weight: 500;
}

h1 {
	font-size: 54px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-right: 10px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px
}

p {
	font-size: 12px
}

.hidden {
	max-height: 0;
	max-width: 0;
	opacity: 0;
	position: absolute;
}

@media (max-width: 1100px) {
	h1 {
		margin-bottom: 10px;
	}
}

@media (max-width: 500px) {
	h1 {
		margin-bottom: 10px;
	}

	h2 {
		font-size: 18px;
	}
	
	h3 {
		font-size: 16px
	}
}